<header>
    <%= image_tag "logo2.png" %>
    <ul class="pull-right nav">
        <li><%= link_to 'My Account', pages_customer_account_path  %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></li>
    </ul>
</header>

<div class='row'>
    <div class="col-md-8 col-md-offset-2">
			<% search %>
			<% @results.each do |r| %>
			<%= r.description %>
			<% end %>				
    </div>

</div>