// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rule {
    border-top: 1px solid #333333;
}
.quote textarea {
    width: 100%;
    height: 300px;
}

.quote .btn {
    margin-top: 20px;
}